<h1>NumPy</h1>

In [6]:
import numpy as np

In [ ]:
precos = np.array([10.4, 40.2, 100, 22.46])
idades = np.array([12, 13, 14, 15])

In [ ]:
# Calcular estatísticas
print("Média:", np.mean(precos))
print("Mínimo:", np.min(precos))
print("Máximo:", np.max(precos))

In [ ]:
# Simular aumento de 10% nos preços
precos_aumentados = precos * 1.1
precos_aumentados

In [ ]:
# Idades daqui 2 anos
idades_mais_2 = idades + 2
idades_mais_2

<h2>Exercício:</h2>
<h4>Dada a seguinte lista de idades: [24, 25, 26, 44], crie um numpy array dessa lista, retorne a maior e a menor idade, seguida da sua média.</h4>
<h4>Por fim, retorne como seriam as idades 2 anos atrás, utilizando operações em NumPy Array</h4>

<h1>Pandas</h1>

In [ ]:
import pandas as pd

In [ ]:
# Criando um DataFrame do zero
data = {
    "Produto": ["TV", "Monitor", "Notebook"],
    "Preço": [1500, 800, 3500],
    "Estoque": [10, 20, 5]
}
df_exemplo = pd.DataFrame(data)
print(df_exemplo)

In [8]:
df = pd.read_csv('FAKE_DATA.csv')

In [11]:
df.head()

,product_id,model_suffix,division,selling_price,sales_qty,production_qty,material_rate,customer_name,customer_email,customer_country
0,1.0,Pastry - Apple Muffins - Mini,TV,368.92,707,5/26/2022,0.57,Geri Sheppard,gsheppard0@aboutads.info,Ukraine
1,NaN,NaN,TV,7.95,495,7/20/2022,0.53,Hanson Vowells,hvowells1@printfriendly.com,Azerbaijan
2,3.0,Capers - Ox Eye Daisy,MNT,430.14,776,10/28/2022,0.51,Ernesta Neylon,eneylon2@army.mil,Portugal
3,NaN,Sobe - Cranberry Grapefruit,TV,694.57,91,8/20/2022,0.62,Celle Mariet,cmariet3@nps.gov,Ukraine
4,5.0,Peas Snow,Caraud,180.83,268,6/9/2022,0.51,Pearl Whelband,NaN,Poland
...,...,...,...,...,...,...,...,...,...,...
995,NaN,Chocolate Bar - Reese Pieces,MNT,82.76,368,4/7/2022,0.33,Kelsi Shepton,ksheptonrn@nifty.com,Uganda
996,NaN,Jolt Cola - Electric Blue,Projector,917.79,540,12/19/2022,0.65,Madalyn Sansam,msansamro@sina.com.cn,Indonesia
997,998.0,Wine - Semi Dry Riesling Vineland,TV,638.40,600,1/11/2022,0.42,Gearard Hacard,NaN,Canada
998,NaN,"Sparkling Wine - Rose, Freixenet",Caraud,978.29,545,11/4/2022,0.26,Kristin Wilsher,NaN,Germany
999,NaN,Bag - Regular Kraft 20 Lb,MNT,760.50,578,7/10/2022,0.44,Casper Challace,cchallacerr@skype.com,Brazil

In [12]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Filtrar produtos acima de R$ 300
df_filtrado = df[df["selling_price"] > 300]
print(df_filtrado)

# Ordenar por preço de venda
df_sorted = df.sort_values(by="selling_price", ascending=False)
print(df_sorted)

# Média de vendas por divisão
media_divisao = df.groupby("division")["sales_qty"].mean()
media_divisao

In [ ]:
# Produtos vendidos acima de 500 unidades
df_vendas_altas = df[df["sales_qty"] > 500]
print(df_vendas_altas)

# Ordenar os produtos pela quantidade de produção
df_sorted = df.sort_values(by="production_qty", ascending=False)
print(df_sorted)

# Média de material rate por país de cliente
media_material = df.groupby("customer_country")["material_rate"].mean()
print(media_material)

In [ ]:
# Exportar para CSV
df.to_csv("dados_processados.csv", index=False)

# Exportar para Excel
df.to_excel("dados_processados.xlsx", sheet_name="Dados", index=False)

In [ ]:
with pd.ExcelWriter("relatorio.xlsx") as writer:
    df_vendas_altas.to_excel(writer, sheet_name="Vendas Altas", index=False)
    df_sorted.to_excel(writer, sheet_name="Ordenado por Preço", index=False)